@import "general/mixins.sass";
@import "general/variables.sass";
@import "fonts.scss";
@import "general/general.sass"; 
@import "general/sliderScroll.sass"; 
//@import "general/select.sass"; 
@import "general/post-item.sass"; 
@import "content/header.sass";                               
@import "content/home.sass";                      
@import "content/footer.sass";
@import "content/socialSignal.sass";                    
  
